*{
	margin: 0;
	padding: 0;
}

body{
	background: url('/images/404/background.png') no-repeat center center #1d1d1d;
	color: #eee;
	font-family: Helvetica;
	font-size: 13px;
}

#rocket{
	width: 275px;
	height: 375px;
	background: url('/images/404/rocket.png') no-repeat;
	margin: 140px auto 50px;
	position: relative;
}

.steam1, .steam2{
	position: absolute;
	bottom: 78px;
	left: 50px;
	width: 80px;
	height: 80px;
	background: url('/images/404/steam.png') no-repeat;
	opacity: 0.8;
}

.steam2{
    background-position: left bottom;
}

hgroup{
    display: block;
	margin: 0 auto;
	width: 850px;
	font-family: Helvetica;
	text-align: center;
}

h1{
	color: #76d7fb;
	font-size: 60px;
	text-shadow: 3px 3px 0 #3d606d;
	white-space: nowrap;
}

a, a:visited {
	text-decoration: none;
	outline: none;
	border-bottom: 1px dotted #97cae6;
	color: #97cae6;
}

a:hover{
	border-bottom: 1px dashed transparent;
}